@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap");
.navbar {
  width: 5%;
  height: 100%;
  background-color: black;
  position: fixed;
}

.navbar img {
  width: 50px;
  height: 50px;
}

.navbar .en {
  padding-top: 70px;
}

.navbar .en i {
  width: 50px;
  height: 60px;
  text-align: center;
  color: #08fdd8;
}

.navbar .en i:hover {
  color: #fb126f;
}

.navbar .en #home {
  color: #fb126f;
}

.navbar .media {
  padding-top: 30px;
}

.navbar .media i {
  width: 50px;
  height: 45px;
  text-align: center;
  color: #08fdd8;
  cursor: pointer;
}

.navbar .media i:hover {
  color: #fb126f;
}

.navbar .en #home {
  color: #08fdd8;
}

.navbar .en #home:hover {
  color: #fb126f;
}

#home {
  color: #08fdd8;
}

#user {
  color: #fb126f;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.apropos {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 35px;
}

.apropos img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.apropos h1 {
  color: #08fdd8;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
}

.apropos p {
  color: #fb126f;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 90px;
}

.info .info_developer {
  width: 50%;
  text-align: center;
}

.info .info_developer p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 23px;
}

.info .info_developer button {
  padding: 15px 30px;
  margin-top: 60px;
  font-family: 'Dancing Script', cursive;
  font-size: 22px;
  background-color: #08fdd8;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.info .info_developer button:hover {
  background-color: #fb126fb7;
  color: white;
}

.mescomce {
  background-image: url(../images/0_CbT9SP5AXnnH7vUz.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.mescomce_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  margin: 10px 0px 10px 35px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 22.8px 15.2px rgba(60, 255, 141, 0.08);
          box-shadow: 0px 6px 22.8px 15.2px rgba(60, 255, 141, 0.08);
}

.mescomce_bar .mescomce_bar_articl {
  font-family: 'Open Sans', sans-serif;
}

.mescomce_bar .mescomce_bar_articl .mescomce_bar_articl_nm p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #888888;
}

.mescomce_bar .compétences h2 {
  color: #fb126f;
  font-size: 56px;
  font-family: 'Dancing Script', cursive;
}

.mescomce_bar .progress-bar .line {
  height: 7px;
  background: #efefef;
  border-radius: 7px;
  position: relative;
  width: 400px;
}

.mescomce_bar .progress-bar .line span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #08fdd8;
  border-radius: 10px;
}

.mescomce_bar .progress-bar .label {
  font-size: 20px;
  float: right;
  position: relative;
  bottom: 22px;
}

@-webkit-keyframes animationLoaded {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animationLoaded {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.messrv {
  height: 100%;
  width: 100%;
  background-image: url(../images/ordinateur.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.messrv .messrv_h {
  text-align: center;
  color: white;
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 50px;
  margin-bottom: 85px;
}

.messrv .messrv_type {
  color: white;
  position: relative;
  left: 50PX;
  padding: 10PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.messrv .messrv_type .messrv_type_web {
  background-color: #fb126f;
  padding-top: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.messrv .messrv_type .messrv_type_web i {
  font-size: 40px;
}

.messrv .messrv_type .messrv_type_web h2 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.messrv .messrv_type .messrv_type_web p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 15px 30px;
  letter-spacing: 1.5px;
}

.messrv .messrv_type .messrv_type_front {
  background-color: white;
  color: black;
  padding-top: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.messrv .messrv_type .messrv_type_front i {
  font-size: 40px;
}

.messrv .messrv_type .messrv_type_front h2 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.messrv .messrv_type .messrv_type_front p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 15px 30px;
  letter-spacing: 1.5px;
}

.messrv .messrv_type .messrv_type_word {
  background-color: #08fdd8;
  padding-top: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.messrv .messrv_type i {
  font-size: 40px;
}

.messrv .messrv_type h2 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.messrv .messrv_type p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 15px 30px;
  letter-spacing: 1.5px;
}
/*# sourceMappingURL=a propos.css.map */