@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap");
.navbar {
  width: 5%;
  height: 100%;
  background-color: black;
  position: fixed;
}

.navbar img {
  width: 50px;
  height: 50px;
}

.navbar .en {
  padding-top: 70px;
}

.navbar .en i {
  width: 50px;
  height: 60px;
  text-align: center;
  color: #08fdd8;
  cursor: pointer;
}

.navbar .en i:hover {
  color: #fb126f;
}

.navbar .media {
  padding-top: 30px;
}

.navbar .media i {
  width: 50px;
  height: 45px;
  text-align: center;
  color: #08fdd8;
  cursor: pointer;
}

.navbar .media i:hover {
  color: #fb126f;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  position: fixed;
}

.navbar .en #envolop {
  color: #fb126f;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 10%;
}

.contact {
  width: 35%;
}

.contact .contact_info {
  background-image: url(../images/c50a782de6af7cbfedc6909db14a6f18.png);
  background-size: cover;
  position: relative;
  height: 100%;
  color: white;
}

.contact .contact_info .contact_info_paragh {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 60px 30px;
  line-height: 40px;
  font-size: 20px;
}

.contact .contact_info .contact_info_person {
  margin: 100px 60px;
}

.contact .contact_info .contact_info_person h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 26px;
}

.contact .contact_info .contact_info_person p {
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
}

.message {
  width: 36%;
  color: white;
  text-align: center;
}

.message h2 {
  color: #08fdd8;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 3px;
  font-size: 45px;
  letter-spacing: 7px;
}

.message label {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.message input[type=text], .message textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid #fb126f;
  background: none;
  margin-top: 9px;
  margin-bottom: 10px;
  color: white;
}

.message input[type=submit] {
  background-color: #08fdd8;
  color: white;
  font-size: 26px;
  font-family: 'Dancing Script', cursive;
  padding: 14px 70px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 18px 0 rgba(255, 255, 255, 0.25) !important;
          box-shadow: 0px 6px 18px 0 rgba(255, 255, 255, 0.25) !important;
  cursor: pointer;
}

.message input[type=email] {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 3px solid #fb126f;
  background: none;
  margin-top: 11px;
  margin-bottom: 16px;
  color: white;
}

.ensemble {
  background-image: url(../images/enseple.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.ensemble .ensemble_trav {
  padding-top: 40px;
}

.ensemble .ensemble_trav img {
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ensemble .ensemble_trav h3 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: white;
  margin-top: 0px;
}

.coperight {
  width: 100%;
}

.coperight p {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/*# sourceMappingURL=contact.css.map */