@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap');


@import "navbar";


body{
    box-sizing: border-box;
    background-color: #313131;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.navbar{
    position: relative;
    .en{

        #book{
            color: #fb126f;
            
        }
    }
}

.porfolio{
    width: 95%;
    text-align: center;
    margin-top: 40px;
    h1{
        color: #08fdd8;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 3px;
    }
    p{
        color: #fb126f;
        font-family: 'Dancing Script', cursive;
        letter-spacing: 2px;
        font-size: 18px;
    }

    
    
}
